body {
  background: rgb(97, 93, 173);
  background: linear-gradient(
    180deg,
    rgba(97, 93, 173, 1) 35%,
    rgba(255, 200, 218, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  position: relative;
  height: 1000px;
}
.panel {
  background-color: #283e50;
  width: 400px;
  height: 700px;
  position: absolute;
  left: calc(50% - 400px / 2);
  margin-top: 10%;
}

p {
  padding: 25px;
  line-height: 2;
  padding-bottom: 10%;
  margin-top: 0;
}
h1 {
  margin-bottom: 0px;
  font-size: 45px;
  font-family: Lobster;
  margin-top: 10%;
}

.pravidla {
  width: 400px;
  background-color: #1fcca4;
  padding-bottom: 15px;
  padding-top: 15px;
  height: 15px;
}
.zacithrat {
  width: 400px;
  background-color: #0197f6;
  padding-bottom: 15px;
  padding-top: 15px;
}
.zacithrat:hover,
.zacithrat:focus,
.zacithrat:active {
  background-color: #0090e0;
}

.pravidla:hover,
.pravidla:focus,
.pravidla:active {
  background-color: #1cbb96;
}
